{{ $name := (.Get 0) | anchorize }}
{{ $logs := .Page.Resources.GetMatch (printf "%s/index.json" $name) }}
{{ $meta := $logs | transform.Unmarshal }}

<div id="slides-carousel-{{ $name }}" class="carousel slide" data-ride="carousel" style="margin: 20px;">
  <div class="carousel-inner">
    {{ $rsc := .Page.Resources }}
    {{ range $index, $entry := $meta }}
    <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
      <div style="display: flex; flex-direction: column;">
        <div class="logs-entry-title" style="text-align: center; padding: 30px; font-weight: bolder">{{ $entry.name }}</div>
        <img src="{{ $rsc.Get (printf "%s/%s" $name $entry.img) }}" alt="{{ $entry.name }}" />
        <div style="font-size: 0.7em; padding: 30px 0;">
          <ul style="margin: 0;">
          {{ range $entry.activities }}
            <li style="margin: 0; padding: 0">{{ . }}</li>
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#slides-carousel-{{ $name }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slides-carousel-{{ $name }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>